html{
  background-image: url(https://i.pinimg.com/originals/06/de/9f/06de9fcc1251a5a1a6f08a94bc05de1c.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  
}

#demobox {
background-color: rgb(223, 215, 215);
padding: 10px;
  border: 2px solid rgb(11, 11, 15) ;
  width: 500px;
  margin-top: 100px;
}

#box {
  background-color: rgb(8, 4, 4);
  margin-top: 400px;
  text-decoration-color: white;
  font-size: 150%;
  height: 50px;
}

.description {
  font-size: 150%;
}

.resumetext {
  text-align: right;
  float: right;
}
